article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}
*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	--color-text: #f1f1f1;
	--color-bg: #0c0c0c;
	--color-link: #1ab3de;
	--color-link-hover: #f1f1f1;
	--color-deco: #141414;
	--color-side: #353535;
	--color-text: #fff;
	--color-bg: #252525;
	--color-link: #fff;
	--color-link-hover: #f20c40;
	--color-bg-item1: #15171b;
	--color-bg-item2: #2c35b7;
	--color-bg-item3: #0f1013;
	--color-bg-item4: #1d2027;
	--color-bg-item5: #0f1013;
	--color-item-alt: #494d54;
	--color-quote: #5b677a;
	--color-info: #57535a;
	--color-title: #e23434;
	--color-tagline: #e2e2e2;
	font-family: Futura, "futura-pt", sans-serif;
	background-image: url(../images/ebg.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	z-index: 1;
	min-height: 120vh;
	width: 100vw;
	color: #57585c;
	color: var(--color-text);
	background-color: var(--color-bg);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding-top: 10rem;
	overflow-x: hidden;
}

/* Page Loader */
.js .loading::before {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	pointer-events: none;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a:hover,
a:focus {
	color: var(--color-link-hover);
	outline: none;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

.message {
	position: relative;
	z-index: 100;
	display: none;
	padding: 1em;
	text-align: center;
	color: var(--color-bg);
	background: var(--color-text);
}

/* Icons */
.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}

.frame {
	position: fixed;
	z-index: 10000;
	top: 5rem;
	left: 0;
	width: 100%;
	max-width: none;
	min-height: 0;
	height: 100vh;
	padding: 1rem;
	pointer-events: none;
}

.frame a {
	pointer-events: auto;
}



.slideshow {
	position: relative;
	overflow: hidden;
	margin: 0;
	height: 100vh;
	width: 100%;
	height: calc(100vh - 10rem);
	display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-column-gap: 0.5%;
	grid-template-rows: 100%;
	grid-template-areas: '... slide ...';
}

.slide {
	width: 100%;
	display: flex;
	pointer-events: none;
	cursor: pointer;
	position: relative;
	height: 100%;
	grid-area: slide;
}

.slideshow--previewopen .slide {
	cursor: default;
}

.slide--current {
	pointer-events: auto;
}

.slide__img-wrap {
	width: 100%;
	overflow: hidden;
	z-index: 100;
	height: 80%;
	top: 10%;
	position: absolute;
}

.slideshow__deco {
	grid-area: slide;
	background: var(--color-deco);
	width: 100%;
	height: 80%;
	align-self: center;
	position: relative;
	margin: -40px 0 0 0;
	right: -20px;
}

.nav {
	position: absolute;
	background: none;
	width: 3rem;
	height: 3rem;
	z-index: 150;
	border: 0;
	padding: 0;
	margin: 0;
	pointer-events: none;
	transition: transform 0.8s, opacity 0.8s;
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.nav--next {
	bottom: 1rem;
	right: 1rem;
	
}

.icon--navarrow-next {
	transform: rotate(45deg);
	width: 40px;
}

.nav--prev {
	top: 1rem;
	left: 1rem;
}

.icon--navarrow-prev {
	transform: rotate(-135deg);
}

.slideshow--previewopen .nav {
	opacity: 0;
	transition-duration: 0.4s;
}

.slideshow--previewopen .nav--next {
	transform: translate3d(100%, 100%, 0);
}

.slideshow--previewopen .nav--prev {
	transform: translate3d(-100%, -100%, 0);
}

.slide__img {
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-size: cover;
	background-position: 50% 50%;
	position: absolute;
	pointer-events: none;
	transform: scale3d(1.01,1.01,1);
}

.js .slide__img-wrap,
.js .slide__title-wrap,
.js .slide__side {
	opacity: 0;
	pointer-events: none;
}

.js .slide--current .slide__img-wrap {
	opacity: 1;
	pointer-events: auto;
}

.slide--visible .slide__img-wrap {
	pointer-events: auto;
}

.slide__title-wrap {
	justify-self: flex-end;
	width: 100%;
	position: relative;
	z-index: 120;
}

.slide__number {
	display: block;
	font-size: 2rem;
	font-weight: bold;
}

.slide__number::before {
	content: "\2014";
	display: inline-block;
	margin: 0 1rem 0 0;
}

.slide__title,
.slide__subtitle,
.slide__side {
	display: none;
}

.content {
	position: absolute;
	top: 5rem;
	left: 0;
	width: 100%;
	height: calc(100% - 10rem);
	pointer-events: none;
	z-index: 100;
}

.content__item {
	position: absolute;
	top: 30%;
	right: 0;
	width: 100%;
	height: 80%;
	padding: 10vh 5vw;
	overflow: auto;
}

.content__item--current,
.content__item--current ~ .content__close {
	pointer-events: auto;
}

.content__close {
	position: absolute;
	top: 1rem;
	left: 1rem;
	background: none;
	color: currentColor;
	border: 0;
	margin: 0;
	padding: 0;
}

.icon--longarrow {
	width: 2rem;
	position: relative;
	top: 200px;
}

.content__close:focus {
	outline: none;
}

.content__number {
	font-weight: bold;
}

.content__number::before {
	content: "\2014";
	display: inline-block;
	margin: 0 1rem 0 0;
}

.content__title {
	margin: 0.5rem 0;
	font-size: 2rem;
}

.content__subtitle {
	margin: 0 0 0.5rem;
	font-size: 1rem;
	font-weight: normal;
}

.content__text {
	font-size: 0.85rem;
}

.js .content__title,
.js .content__subtitle,
.js .content__number,
.js .content__text,
.js .content__close {
	opacity: 0;
}

@media screen and (min-width: 53em) {
	body {
		padding: 0;
	}

	.slideshow {
		height: 100vh;
		grid-template-columns: 27% 27% 27%;
		grid-column-gap: 9.5%;
	}
	.slide {
		padding: 10vh 0 7vh;
		flex-direction: column;
		justify-content: space-between;
	}
	.slide__side {
		margin: 0 0 0 -1.85rem;
		z-index: 80;
	}
	.slide__title-wrap {
		margin: 0 0 0 -1.85rem;
	}
	.slide__title,
	.slide__subtitle,
	.slide__side {
		display: block;
	}
	.slide__title {
		font-size: 3.25rem;
		margin: 0 0 0.25rem;z-index: 80;
	}
	.slide__subtitle {
		font-weight: normal;
		margin: 0;
		min-height: 50px;
		z-index: 80;
	}
	.slide__side {
		color: white;
		position: relative;
		-webkit-writing-mode: vertical-rl;
		writing-mode: vertical-rl;
		transform: rotate(180deg);
		z-index: 80;
		font-size: 17px;
	}
	.content {
		top: 0;
		height: 100%;
	}
	.content__item {
		padding: calc(10vh + 5rem) 0 7vh;
		width: 50.5%;
		right: 7.5%;
		overflow: visible;
	}
	.content__close {
		left: 42%;
		top: calc(10vh + 1rem);
	}
	.content__number {
		position: absolute;
		bottom: 7vh;
		right: 0;
		font-size: 2rem;
	}
	.content__title {
		font-size: 7vw;
	}
	.content__subtitle {
		font-size: 1.15rem;
		margin-bottom: 7.5vh;
	}
	.content__text {
		font-size: 0.95rem;
		column-count: 2;
		column-gap: 2rem;
		max-width: 600px;
		text-align: justify;
	}
}

.action {
	background: none;
	border: 0;
	color: #fff;
	cursor: pointer;
	padding: 0;
}

.action--menu {
	pointer-events: auto;
	position: absolute;
	top: 1.5rem;
	right: 1.5rem;
	z-index: 1000;
}

.menu--open .action--menu {
	pointer-events: none;
}

.action--close {
	position: absolute;
	top: 1.5rem;
	right: 1.75rem;
	z-index: 1000;
	opacity: 0;
	padding: 0 0.5rem;
}

.icon--menu {
	width: 4rem;
}

.icon--close {
	width: rem;
}

.menu {

	text-align: center;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 200;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: repeat(3,33.33%);
	pointer-events: none;
}

.menu--open {
	pointer-events: auto;
}

.menu__item {
	width: 100%;
	position: relative;
	overflow: hidden;
}

.menu__item-inner {
	overflow: hidden;
	transform: translate3d(100%,0,0);
	height: 100%;
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.menu__item--1 .menu__item-inner {
	background: var(--color-bg-item1);
}
.menu__item--2 .menu__item-inner {
	background: var(--color-bg-item2);
}
.menu__item--3 .menu__item-inner {
	background: var(--color-bg-item3);
}
.menu__item--4 .menu__item-inner {
	background: var(--color-bg-item4);
}
.menu__item--5 .menu__item-inner {
	background: var(--color-bg-item5);
}

.menu__item--4,
.menu__item--5 {
	display: none;
}

.label {
	display: none;
}

.mainmenu__item {
	opacity: 0;
}

.mainmenu__item,
.sidemenu__item {
	position: relative;
	overflow: hidden;
	transition: color 0.1s;
	margin: 0.25rem 0;
	display: block;
}

.sidemenu__item-inner {
	display: block;
	transform: translate3d(0,100%,0);
}

.menu__item-map {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: url(../images/2.jpg) no-repeat 50% 50%;
	background-size: cover;
	transition: transform 0.8s cubic-bezier(0.2,1,0.8,1);
}

.menu__item-inner:hover .menu__item-map {
	transform: scale3d(1.1,1.1,1);
}

.menu__item-hoverlink {
	font-weight: bold;
	text-transform: capitalize;
	position: relative;
	z-index: 1000;
	display: block;
}

.menu__item-hoverlink:hover {
	color: var(--color-link);
}

.quote {
	font-size: 2rem;
	padding: 1rem;
	text-align: center;
	max-width: 70%;
	color: var(--color-quote);
	font-family: "sabbath-black",serif;
}

.menu__item-link {
	text-align: left;
	align-self: flex-start;
	justify-self: start;
	font-size: 1.5rem;
	width: 100%;
	line-height: 1;
	padding: 2rem ;
	margin: 3rem 0 auto;
	display: flex;
	flex-direction: column;
	height: calc(100% - 3rem);
}

.menu__item-link::after {
	content: '\27F6';
	display: block;
	margin-top: auto;
	font-size: 0.95rem;
}

@media screen and (min-width: 53em) {
	.menu {
		width: 100%;
		height: 100vh;
		overflow: hidden;
		position: fixed;
		top: 0;
		left: 0;
		grid-template-columns: 20% 30% 50%;
		grid-template-rows: 60% 40%;
		grid-template-areas:
				"item3 item2 item1"
				"item4 item5 item1";
	}
	.menu__item {
		height: 100%;
	}
	.menu__item--1 {
		grid-area: item1;
	}
	.menu__item--2 {
		grid-area: item2;
	}
	.menu__item--3 {
		grid-area: item3;
	}
	.menu__item--4 {
		grid-area: item4;
	}
	.menu__item--5 {
		grid-area: item5;
	}
	.menu__item--4,
	.menu__item--5 {
		display: block;
	}
	.menu__item-inner {
		align-items: center;
	}
	.label {
		display: block;
		color: var(--color-item-alt);
		position: absolute;
		z-index: 1000;
		font-size: 0.85rem;
		font-weight: bold;
		margin: 0;
		white-space: nowrap;
	}
	.label--topleft {
		top: 2rem;
		left: 2rem;
	}
	.label--vert,
	.label--vert-mirror {
		-webkit-writing-mode: vertical-rl;
		writing-mode: vertical-rl;
	}
	.label--vert-mirror {
		transform: rotate(180deg);
	}
	.label--bottomright {
		bottom: 2rem;
		right: 2rem;
	}
	.label::before {
		content: '------------- ';
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		letter-spacing: -1px;
		margin: 0 0.75rem 0 0;
	}
	.label--vert::before,
	.label--vert-mirror::before {
		margin: 0.75rem 0;
	}
	.mainmenu,
	.sidemenu {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.mainmenu {
		counter-reset: menuitem;
	}
	.mainmenu__item {
		font-size: 5vw;
		overflow: visible;
		margin: 0.5rem 0;
		padding: 0 0.5rem;
		position: relative;
		transition: color 0.3s;
	}
	.mainmenu__item:hover {
		color: var(--color-item-alt);
	}
	.mainmenu__item::before {
		counter-increment: menuitem;
		content: counters(menuitem, "", decimal-leading-zero);
		position: absolute;
		font-size: 0.85rem;
		top: 25%;
		left: -1.25rem;
		color: var(--color-item-alt);
	}
	.mainmenu__item::after {
		content: '';
		width: 100%;
		top: 58%;
		height: 6px;
		background: var(--color-link-hover);
		position: absolute;
		left: 0;
		opacity: 0;
		transform: scale3d(0,1,1);
		transition: transform 0.3s, opacity 0.3s;
		transform-origin: 100% 50%;
	}
	.mainmenu__item:hover::after {
		opacity: 1;
		transform: scale3d(1,1,1);
	}
	.sidemenu__item {
		text-transform: uppercase;
		letter-spacing: 0.15rem;
		font-size: 0.85rem;
	}
	.menu__item-hoverlink {
		font-size: 1.25rem;
		border-bottom: 2px solid #fff;
		opacity: 0;
		transition: opacity 0.3s;
	}
	.menu__item-inner:hover .menu__item-hoverlink {
		opacity: 1;
	}
}