body {
    --color-text: #fff;
    --color-bg: #252525;
    --color-link: #fff;
    --color-link-hover: #f20c40;
    --color-bg-item1: #15171b;
    --color-bg-item2: #2c35b7;
    --color-bg-item3: #0f1013;
    --color-bg-item4: #1d2027;
    --color-bg-item5: #0f1013;
    --color-item-alt: #494d54;
    --color-quote: #5b677a;
    --color-info: #57535a;
    --color-title: #e23434;
    --color-tagline: #e2e2e2;
    font-family: "europa", Futura, Arial, sans-serif;
    min-height: 100vh;
    background-image: url(../images/abg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;

    color: #57585c;
    color: var(--color-text);
    background-color: #fff;
    background-color: var(--color-bg);
    overflow: hidden;
    padding: 6rem 0 0 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

/* Page Loader */
.js .loading::before {
    content: '';
    position: fixed;
    z-index: 100000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-bg);
}

.js .loading::after {
    content: '';
    position: fixed;
    z-index: 100000;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin: -30px 0 0 -30px;
    pointer-events: none;
    border-radius: 50%;
    opacity: 0.4;
    background: var(--color-link);
    animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
    to {
        opacity: 1;
        transform: scale3d(0.5,0.5,1);
    }
}a {
    text-decoration: none;
    color: var(--color-link);
    outline: none;
    transition: color 0.2s;
}

a:hover,
a:focus {
    color: var(--color-link-hover);
}

button:focus,
a:focus {
    outline: none;
}

.hidden {
    position: absolute;
    overflow: hidden;
    width: 0;
    height: 0;
    pointer-events: none;
}
.icon {
    display: block;
    width: 1.5em;
    height: 1.5em;
    margin: 0 auto;
    fill: currentColor;
}
.icon--menu {
    width: 4rem;

}

.icon--close {
    width: 4rem;
}
.menu {
    text-align: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3,33.33%);
    pointer-events: none;
}

.menu--open {
    pointer-events: auto;
}

.menu__item {
    width: 100%;
    position: relative;
    overflow: hidden;
    --color-link: #fff;
    --color-link-hover: #f20c40;
}

.menu__item-inner {
    overflow: hidden;
    transform: translate3d(100%,0,0);
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu__item--1 .menu__item-inner {
    background: var(--color-bg-item1);
}
.menu__item--2 .menu__item-inner {
    background: var(--color-bg-item2);
}
.menu__item--3 .menu__item-inner {
    background: var(--color-bg-item3);
}
.menu__item--4 .menu__item-inner {
    background: var(--color-bg-item4);
}
.menu__item--5 .menu__item-inner {
    background: var(--color-bg-item5);
}

.menu__item--4,
.menu__item--5 {
    display: none;
}

.label {
    display: none;
}

.mainmenu__item {
    opacity: 0;
}

.mainmenu__item,
.sidemenu__item {
    position: relative;
    overflow: hidden;
    transition: color 0.1s;
    margin: 0.25rem 0;
    display: block;
}

.sidemenu__item-inner {
    display: block;
    transform: translate3d(0,100%,0);
}

.menu__item-map {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/2.jpg) no-repeat 50% 50%;
    background-size: cover;
    transition: transform 0.8s cubic-bezier(0.2,1,0.8,1);
}

.menu__item-inner:hover .menu__item-map {
    transform: scale3d(1.1,1.1,1);
}

.menu__item-hoverlink {
    font-weight: bold;
    text-transform: capitalize;
    position: relative;
    z-index: 1000;
    display: block;
}

.menu__item-hoverlink:hover {
    color: var(--color-link);
}

.quote {
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
    max-width: 70%;
    color: var(--color-quote);
    font-family: "sabbath-black",serif;
}

.menu__item-link {
    text-align: left;
    align-self: flex-start;
    justify-self: start;
    font-size: 1.5rem;
    width: 100%;
    line-height: 1;
    padding: 2rem ;
    margin: 3rem 0 auto;
    display: flex;
    flex-direction: column;
    height: calc(100% - 3rem);
}

.menu__item-link::after {
    content: '\27F6';
    display: block;
    margin-top: auto;
    font-size: 0.95rem;
}
a {
    text-decoration: none;
    color: var(--color-link);
    outline: none;
    transition: color 0.2s;
}

a:hover,
a:focus {
    color: var(--color-link-hover);
}

button:focus,
a:focus {
    outline: none;
}

.hidden {
    position: absolute;
    overflow: hidden;
    width: 0;
    height: 0;
    pointer-events: none;
}
@media screen and (min-width: 53em) {

    .info {
        margin: 0 6rem 0 0;
        color: var(--color-info);
    }
    .menu {
        width: 100%;
        height: 100vh;
        overflow: hidden;
        position: fixed;
        top: 0;
        left: 0;
        grid-template-columns: 20% 30% 50%;
        grid-template-rows: 60% 40%;
        grid-template-areas:
                "item3 item2 item1"
                "item4 item5 item1";
    }
    .menu__item {
        height: 100%;
    }
    .menu__item--1 {
        grid-area: item1;
    }
    .menu__item--2 {
        grid-area: item2;
    }
    .menu__item--3 {
        grid-area: item3;
    }
    .menu__item--4 {
        grid-area: item4;
    }
    .menu__item--5 {
        grid-area: item5;
    }
    .menu__item--4,
    .menu__item--5 {
        display: block;
    }
    .menu__item-inner {
        align-items: center;
    }
    .label {
        display: block;
        color: var(--color-item-alt);
        position: absolute;
        z-index: 1000;
        font-size: 0.85rem;
        font-weight: bold;
        margin: 0;
        white-space: nowrap;
    }
    .label--topleft {
        top: 2rem;
        left: 2rem;
    }
    .label--vert,
    .label--vert-mirror {
        -webkit-writing-mode: vertical-rl;
        writing-mode: vertical-rl;
    }
    .label--vert-mirror {
        transform: rotate(180deg);
    }
    .label--bottomright {
        bottom: 2rem;
        right: 2rem;
    }
    .label::before {
        content: '------------- ';
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        letter-spacing: -1px;
        margin: 0 0.75rem 0 0;
    }
    .label--vert::before,
    .label--vert-mirror::before {
        margin: 0.75rem 0;
    }
    .mainmenu,
    .sidemenu {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .mainmenu {
        counter-reset: menuitem;
    }
    .mainmenu__item {
        font-size: 5vw;
        overflow: visible;
        margin: 0.5rem 0;
        padding: 0 0.5rem;
        position: relative;
        transition: color 0.3s;
    }
    .mainmenu__item:hover {
        color: var(--color-item-alt);
    }
    .mainmenu__item::before {
        counter-increment: menuitem;
        content: counters(menuitem, "", decimal-leading-zero);
        position: absolute;
        font-size: 0.85rem;
        top: 25%;
        left: -1.25rem;
        color: var(--color-item-alt);
    }
    .mainmenu__item::after {
        content: '';
        width: 100%;
        top: 58%;
        height: 6px;
        background: var(--color-link-hover);
        position: absolute;
        left: 0;
        opacity: 0;
        transform: scale3d(0,1,1);
        transition: transform 0.3s, opacity 0.3s;
        transform-origin: 100% 50%;
    }
    .mainmenu__item:hover::after {
        opacity: 1;
        transform: scale3d(1,1,1);
    }
    .sidemenu__item {
        text-transform: uppercase;
        letter-spacing: 0.15rem;
        font-size: 0.85rem;
    }
    .menu__item-hoverlink {
        font-size: 1.25rem;
        border-bottom: 2px solid #fff;
        opacity: 0;
        transition: opacity 0.3s;
    }
    .menu__item-inner:hover .menu__item-hoverlink {
        opacity: 1;
    }
}
.action {
    background: none;
    border: 0;
    color: #fff;
    cursor: pointer;
    padding: 0;
}

.action--menu {
    pointer-events: auto;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    z-index: 1000;
}

.menu--open .action--menu {
    pointer-events: none;
}

.action--close {
    position: absolute;
    top: 1.5rem;
    right: 1.75rem;
    z-index: 1000;
    opacity: 0;
    padding: 0 0.5rem;
}
.about{
    font-family: joschmi, sans-serif;font-style: normal;font-weight: 400;font-size: 10em;padding: 0;margin: 0;list-style: none;display: flex;align-items: initial;justify-content: center;width: 100%;
    position: relative;
    bottom: 110px;
}
#box-container {
    position: relative;
    bottom: 100px;
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.hmr {
    justify-content: right;
    width: 30%;
}

.desc {

    justify-content: right;
    width: 40%;
    height: 40%;
    font-size: 1.7em;
}
.socialbuttons{
    display: flex;
    width: 100%;
    justify-content: space-around;
    position: relative;
    bottom: 60px;

}
.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
